@font-face {
  font-family: 'hello';
  src: url("/assets/fonts/PPFraktionSans-Bold.otf") format("opentype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;   
  font-family: 'hello', sans-serif; 
}

h1 {
  padding: 30px;
  font-size: 56px;
}

h2,
h3 {
  padding: 30px;
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
}

li {
  font-size: 36px;
  line-height: 40px;
}

.header {
  height: 100vh;       /* Fill the full height of the viewport */  
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1C1C;
  color: white;
}

.about {
  height: 110vh;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1C1C1C;
  color: white;
}

.services {
  height: 110vh;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.clients {
  height: 110vh;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact {
  height: 100vh;
  /* border: 2px solid blue; */
  background-color: #1C1C1C;
  color: white;
  align-content: flex-end;
  text-align: right;
}

.footer {
  height: 300px;
  /* border: 2px solid blue; */
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 200px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.services-list {
  margin-right: 150px;
}

.quote {
  padding-right: 30px;
}

.rotate-text {
  transform: rotate(-90deg);
}

.rotate-text-h3 {
  transform: rotate(90deg);
  margin-right: -125px; /* Adjust negative value as needed */
}


.about-item {
  flex: 3;
}

.empty-div {
  flex: 1;
}


